@using Online_Shop.Application.Entities
@*@model  IEnumerable<UserDetail>*@
@model UserDetail
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
    ViewBag.Title = "My Account";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>UserAccount</title>

    <link href="~/Contentts/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Contentts/Microsoft.jQuery.Unobtrusive.Ajax.2.0.30506.0/Content/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Contentts/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Contentts/Scripts/bootstrap.js"></script>
    <script src="~/Contentts/Scripts/jquery-2.1.4.intellisense.js"></script>
    <link href="~/Contentts/CSS/Sheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container" style="width: 980px; border: thin thick; margin-bottom: 20px;margin-top:10px;">        
       
        <div style="width:50%;height:auto;float:left">
            <div style="margin: 2px;">
                <div class="fields"></div>
                
                <div style="color:#ef3e3e ; font-family:Verdana; font-size:35px;">@Model.FName  @Model.LName </div>
               
            </div>
            <div class="usrpage">
                <div class="fields">  Password: </div>
                <div>@Model.Password</div>
             
            </div>
            <div class="usrpage">
                <div class="fields">  User Name: </div>
                <div> @Model.UserId</div>
              
            </div>
            <div class="usrpage">
                <div class ="fields">  Security Question: </div>
                <div>@Model.SecQuest</div>
              
            </div>
            <div class="usrpage">
                <div class ="fields">  Answer :</div>
                <div>@Model.Answer</div>
              
            </div>
            <div class="usrpage">
                <div class="fields"> Email: </div>
                <div style="width:auto">@Model.Email</div>
              
            </div>
            <div class="usrpage">
                <div class="fields"> Date of birth : </div>
                <div>@Model.DOB.Date </div>
             
            </div>
            <div class="usrpage">
                <div class="fields">  Adddress :</div>
                <div>@Model.country @Model.Address  @Model.city</div>
             
            </div>
            <div>
                @Html.ActionLink("Edit Account", "Edit", "Users", new { id = @Model.Id }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Delete My Account", "DeleteAccount", "Users", new { id = Model.Id }, new { @class = "btn btn-danger" })
                        
                @Html.ActionLink("My Orders", "UserOrders", "Users", new { id = Model.Id }, new { @class = "btn btn-danger" })
            </div>


               </div> 
        <div style="margin-left:-30px;">
            @if (Model.imgUrl != null)
            {
                <img style="border:double thin;border-radius:3px;border-color:#ff0000" src=@Url.Content(Model.imgUrl) class="imgsize" />
            }
            else
            {

                <img style="border:double thin;border-radius:3px;border-color:#ff0000;" class="imgsize" src="~/images/no-images.png" />
            }
        </div>    
        </div>
</body>
</html>
